/* Navbar.css */
.navDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #000000;
  position: relative;
}

.navLogo img {
  height: 50px;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #000000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger .line1.open {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .line2.open {
  opacity: 0;
}

.hamburger .line3.open {
  transform: rotate(-45deg) translate(6px, -6px);
}

.navItems,
.authentication {
  display: flex;
  list-style: none;
  padding: 0;
}

.navItems li,
.authentication li {
  margin: 0 15px;
}

.navItems a,
.authentication a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.signupBtn {
  border: 2px solid black;
  padding: 6px 2rem;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #958f8f;
    z-index: 1;
  }

  .menu.open {
    display: flex;
  }

  .navItems,
  .authentication {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .navItems li,
  .authentication li {
    margin: 10px 0;
    text-align: center;
  }

  .signupBtn {
    border: 2px solid black;
    padding: 6px 2rem;
    border-radius: 2rem;
  }
}

@media (max-width: 480px) {
  .navDiv {
    padding: 10px;
  }

  .navLogo img {
    height: 40px;
  }

  .hamburger .line {
    width: 25px;
    height: 2px;
  }

  .navItems li,
  .authentication li {
    margin: 8px 0;
  }

  .signupBtn {
    padding: 5px 1.5rem;
  }
}
